[Unit]
Description=Apache Spark Master 
After=network.target zookeeper.service

[Service]
User={{ spark_user }}
Group={{ application_group }}
Environment="AWS_S3_ENDPOINT={{ s3_protocol }}://{{ fs_s3a_endpoint }}"

ExecStart=/bin/bash -c "/opt/spark/sbin/start-master.sh -h {{ inventory_hostname }} -p {{ spark_rpc_port }} --webui-port {{ spark_webui_port }} --properties-file {{ spark_home }}/conf/ha.conf"
ExecStop=/opt/spark/sbin/stop-master.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
