[Unit]
Description=Apache Spark Master 
After=network.target

[Service]
User={{ spark_user }}
Group={{ application_group }}
ExecStart=/opt/spark/sbin/start-worker.sh spark://{{ groups['spark_master'][0] }}:7077
ExecStop=/opt/spark/sbin/start-worker.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
