[Unit]
Description=Apache Airflow Webserver
After=network.target airflow-scheduler.service 

[Service]
EnvironmentFile={{ airflow_home }}/airflow_env.sh
Environment=SPARK_HOME={{ spark_home }}
Environment=PYTHONPATH={{ spark_home }}/python

User={{ airflow_user }}
Group={{ application_group }}

ExecStartPre={{ lockbox_dir }}/decrypt_lockbox.sh
ExecStartPre={{ fuse_home }}/airflow_fuse.sh

ExecStart= bash -c 'source {{ tmpfs_dir }}/{{ lockbox_env }};  /usr/bin/rm -f  {{ tmpfs_dir }}/*{{ lockbox_env }}; /usr/local/bin/airflow webserver'
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
