[Unit]
Description=Apache Airflow Scheduler
After=network.target patroni.service trino.service

[Service]
EnvironmentFile={{ airflow_home }}/airflow_env.sh
Environment=SPARK_HOME={{ spark_home }}


User={{ airflow_user }}
Group={{ application_group }}

ExecStartPre={{ lockbox_dir }}/decrypt_lockbox.sh
ExecStartPre={{ fuse_home }}/spark_fuse.sh

ExecStart= bash -c 'source {{ tmpfs_dir }}/{{ lockbox_env }};  /usr/bin/rm -f  {{ tmpfs_dir }}/*{{ lockbox_env }}; \
                   /usr/local/bin/airflow db upgrade; \
                   /usr/local/bin/airflow users create -r Admin -u "$SECURITY__ADMIN_USERNAME" -e "$SECURITY__ADMIN_EMAIL" \
                   -f "$SECURITY__ADMIN_FIRSTNAME" -l "$SECURITY__ADMIN_LASTNAME" -p "$SECURITY__ADMIN_PASSWORD"; \
                   /usr/local/bin/airflow scheduler'
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
