[Unit]
Description=Prometheus
Documentation=https://prometheus.io/docs/guides/node-exporter/
Wants=network-online.target
After=network-online.target

[Service]
User={{ prometheus_user }} 
Group={{ application_group }}
Type=simple
Restart=on-failure
ExecStart={{ prometheus_home}}/prometheus \
   --config.file {{ prometheus_home}}/prometheus.yaml \
   --storage.tsdb.path  {{ prometheus_data_dir }}
   --web.console.templates={{ prometheus_home}}/consoles \
   --web.console.libraries={{ prometheus_home}}/console_libraries

[Install]
WantedBy=multi-user.target

