[Unit]
Description=Patroni
After=network.target 

[Service]

User={{ db_user }}
Group={{ application_group }}
ExecStartPre={{ lockbox_dir }}/decrypt_lockbox.sh
ExecStart=/bin/bash -c "source {{ tmpfs_dir }}/{{ lockbox_env }};  rm -f  {{ tmpfs_dir }}/{{ lockbox_env }} ;/usr/local/bin/patroni  /opt/patroni/patroni-node.yaml"
Restart=on-failure

[Install]
WantedBy=multi-user.target
