[Unit]
Description=Apache Hive Metastore 
After=network.target

[Service]
User={{ hive_user }}
Environment=JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64
Environment=HADOOP_HOME=/opt/hadoop
ExecStart=/opt/apache-hive-metastore/bin/start-metastore
Restart=on-failure

[Install]
WantedBy=multi-user.target
