[Unit]
Description=Apache Hive Metastore 
After=network.target

[Service]
User={{ hive_user }}
Environment=JAVA_HOME={{ java_home }}
Environment=HADOOP_HOME={{ hadoop_install_dir }}
ExecStart=/opt/apache-hive-metastore/bin/start-metastore
Restart=on-failure

[Install]
WantedBy=multi-user.target
