#!/bin/bash

trap 'catch $? $LINENO' ERR
catch() {
  echo "Error $1 occurred on $2"
}



cd {{ tmpfs_dir }}

passphrase=`{{ passphrase }}`

gpg --passphrase $passphrase --batch --quiet --yes  -d {{  hive_metastore_install_dir}}/scripts/hive-metastore-site.xml.gpg >  {{ tmpfs_dir }}/hive-metastore-site.xml

ln -s  {{ tmpfs_dir }}/hive-metastore-site.xml  {{  hive_metastore_install_dir}}/conf/metastore-site.xml

exit 0

