#!/bin/bash

#cd /opt/hive-metastore/scripts/
cd {{ tmpfs_dir }}

passphrase=`{{ passphrase }}`

gpg --passphrase $passphrase --batch --quiet --yes  -c  hive-metastore-site.xml

rm {{ tmpfs_dir }}/hive-metastore-site.xml.gpg

mv  {{ tmpfs_dir }}/hive-metastore-site.xml.gpg {{  hive_metastore_install_dir }}/scripts/

ln -s  {{ tmpfs_dir }}/hive-metastore-site.xml  {{  hive_metastore_install_dir}}/conf/metastore-site.xml
