[Unit]
Description=Grafana
Documentation=https://prometheus.io/docs/guides/node-exporter/
Wants=network-online.target
After=network-online.target

[Service]
User={{ grafana_user }} 
Group={{ application_group }}
Type=simple
ExecStart={{ grafana_home}}/bin/grafana server --homepath {{ grafana_home }}

Restart=on-failure
[Install]
WantedBy=multi-user.target

