[Unit]
Description=Node Exporter
Documentation=https://prometheus.io/docs/guides/node-exporter/
Wants=network-online.target
After=network-online.target

[Service]
User={{ node_exporter_user }} 
Group={{ application_group }}
Type=simple
Restart=on-failure
ExecStart=/opt/node_exporter/node_exporter  \
  --web.listen-address=:{{ node_exporter_port }}

[Install]
WantedBy=multi-user.target


