#!/bin/bash
  

passphrase=`{{ passphrase }}`

gpg --passphrase $passphrase --batch --quiet --yes  -d {{ lockbox_dir }}/{{ lockbox_env }}.gpg >  {{ tmpfs_dir }}/{{ lockbox_env }}

chmod 660 {{ tmpfs_dir }}/{{ lockbox_env }}




