[Unit]
Description=Patroni
After=network.target zookeeper.service

[Service]
User={{ db_user }}
Group={{ application_group }}
ExecStart=/bin/bash -c "/usr/local/bin/patroni  {{ tmpfs_dir }}/patroni-node.yaml"
Restart=on-failure

[Install]
WantedBy=multi-user.target
