[Unit]
Description=Jupyterhub service
After=network.target

[Service]
#User={{ jupyterhub_user }}
#Group={{ application_group }}

Environment=JAVA_HOME={{ java_home }}
Environment=HADOOP_HOME={{ hadoop_home }}
Environment=SPARK_HOME={{ spark_home }}

ExecStart=jupyterhub -f /etc/jupyterhub/jupyterhub_config_simple.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
