
c = get_config()  #noqa

c.JupyterHub.port = {{ jupyterhub_port }}
c.JupyterHub.proxy_api_ip = "{{ inventory_hostname }}"
c.JupyterHub.hub_port = {{ jupyterhub_hub_port }}
c.JupyterHub.proxy_api_port = {{ JupyterHub_api_port }}


